<%= @user.email%>, this is a notification that the following book has been returned:

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Library</th>
    </tr>
  </thead>

  <tbody>    
      <tr>
        <td><%= @book.title %></td>
        <td><%= @book.library.name %></td>        
      </tr>    
  </tbody>
</table>