<h1>Editing Return Notification</h1>

<%= render 'form', return_notification: @return_notification %>

<%= link_to 'Show', @return_notification, class: 'btn btn-primary py-0 m-1 btn-sm' %>
<%= link_to 'Back', return_notifications_path, class: 'btn btn-primary py-0 m-1 btn-sm' %>
